<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Moon Phase</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="static/style.css">
    <script src=""></script>
    <body class="center">
        <div class="art">
            {% for line in phaseArt %}
                {% autoescape false %}
                    <p class="artline">{{line}}</p>
                {% endautoescape %}
            {% endfor %}
        </div>
        <div class="name">{{phaseName}}</div>
        <div class="number">{{phaseNumber}}</div>
    </body>
</html>